@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');

body {
    background-color: #080c20 !important;
    text-align: center !important;
    color: white !important;
    font-family: Manrope,sans-serif;

    h1 {
        font-size: 37px;
        width: 75%;
        margin: 10% auto;
    }

    a {
        color: #3ee9e5;

        &:hover {
            color: #3ee9e5;
        }
    }
    
    p {
        color:#777f98;
        line-height: 1.5;
    }
}

header {
    padding: 10%;

    img {
        margin: auto;
        display: block;
    }
}

section#front {
    margin: 4em 5% 0;

    #scroll-icon {
        animation: scroll 1.5s infinite ease-in-out;
        margin-top: 5em;
    }

    @keyframes scroll {
        0% {transform: translateY(0);}
        50% {transform: translateY(5px);}
        100% {transform: translateY(0);}
    }
    
    #front-image {
        width: 100%;
        margin: 10% auto;
    }

    .desktop-image {
        display: none;
    }
}

section#motivations {
    margin-top: 40%;
    padding: 5%;

    .motivation {
        margin: 15% 5%;

        img {
            width: 6em;
            min-height: 100px;
            background-color: #093f68;
            border-radius: 2rem;
            padding: 6.5%;
            margin-bottom: 15px;
        }

        &:nth-of-type(even) {
            margin-top: 20%;
        }
    }
}

#pricing {
    margin: 15% auto 0;

    div {
        border-radius: 0.5rem;
        margin: 20% 1%;
        padding: 7%;
        text-align: left;
        position: relative;
    }

    img {
        position: absolute;
        top: -7%;
    }

    h4 {
        margin: 15px 0;
    }

    h1 {
        margin-left: 0;
    }

    p {
        color: gray;
    }

    ul {
        padding-left: 20px;
    }

    li {
        font-weight: 200;
        width: max-content;
        margin: 5% 0;
    }

    #free {
        background-color: #093f68;

        ul {
            list-style-image: url('images/check-free.svg');
        }
    }

    #premium {
        color: #080c20;
        background-color: #3ee9e5;

        h4 {
            margin-top: 10%;
        }

        h1 {
            display: flex;
            align-items: center;

            span {
                color: gray;
                font-size: 16px;
                margin-left: 5px;
            }
        }

        ul {
            list-style-image: url('images/check-premium.svg');
            color: #080c20;
        }
    }
}

form {
    margin-top: 10%;
    font-family: sans-serif;
    background-image: url(images/bg-footer-squiggle.svg);
    background-size: contain;
    background-repeat: no-repeat;

    h3 {
        width: 70%;
        margin: 1em auto;
    }

    input {
        background-color: #093f68 !important;
        color: #0b5186 !important;
        border: none !important;
        &:focus {
            color: white !important;
        }
    }

    button {
        background-color: #3ee9e5 !important;
        color: #808392;
    }

    .button {
        border-radius: 2rem;
        width: 75%;
        padding: 10px 20px;
        margin: 2.5% auto;
    }
}


footer {
    border-top: solid;
    padding: 5%;
    margin-top: 50%;

    span {
        font-style: italic;
        font-family: 'Dancing Script', cursive;;
    }
}

@media screen and (min-width: 768px) {
    .flex-desktop {
        display: flex;
    }

    header {
        img {
            margin-left: 0;
        }
    }

    section#front {
        margin: 0;

        #front-image {
            display: none;
        }

        .desktop-image {
            display: block;
            width: 20em;
        }

        .flex-desktop {            
            div {
                margin: auto 5em;
                background-image: url(images/bg-hero-squiggle.svg);
                background-size: contain;
            }
        }
    }

    section#motivations {
        text-align: left;
        margin-top: 0.5em;

        .motivation {
            margin: 15% 3%;

            img {
                width: 9em;
                padding: 10%;
                min-height: 150px;
            }

            h3, p {
                font-size: 1em;
            }

            h3 {
                margin: 2em 0;
            }
        }

    }

    section#pricing {
        margin-top: 0;

        & > P {
            width: 35em;
            margin: 2em auto;
        }

        .flex-desktop {
            padding: 0;
            margin: auto 0;
            justify-content: center;

            div {
                padding: 2%;
                width: 30%;
                white-space: normal;
                margin: 5% 1em;
            }
        }
    }

    form {
        width: 25em;
        margin: auto;

        .flex-desktop {
            input {
                width: 130%;
                margin-right: 1em;
            }
        }

        h3 {
            width: auto;
        }
    }

    footer {
        margin-top: 10em;
        padding: 1%;
    }
}